/* styles.css */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333333;
}
/* Hide Event tabs */
#WDxLfe > ul > li:nth-child(3) > div.PsKE7e.qV4dIc.Qrrb5.YSH9J > div > a {
    display: inherit;
}



